*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    list-style: none;
}

.icone-head{
    width: 1px;
}

body{
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 30vw auto 35vw;
}


button{
    outline: none;
}

input{
    outline: none;
}

/*==================HEADER====================================================================================================================================*/
#header{
    color: white;
    position: fixed;
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    padding: 10px 5px;
    height: 100%;
}

.logo{
    margin: 0 0 20px 40px;
    width: 30px;
}

.nav-button{
    background-color: black;
    border: none;
    color: #d9d9d9;
    font-size: 20px;
    margin: 0px 0px 5px 30px;
    border-radius: 30px;
    padding: 10px 30px 14px 10px;
}

.nav-button:hover{
    background-color: #031019;
    color: #1da0f2;
}

.nav-logo{
    width: 25px;
    vertical-align: bottom;
}

.text-button{
    display: inline;
    vertical-align: bottom;
    margin-left: 15px;
    font-weight: 700;
}

.selected-button{
    color: #1da0f2;
}

.tweetar-button{
    background-color: #1da0f2;
    border: none;
    color: white;
    font-size: 18px;
    padding: 14px 80px;
    border-radius: 30px;
    margin: 10px 0px 10px 25px;
}

.tweetar-button:hover{
    transition-duration: 0.3s;
    background-color: #1a90da;
}

.text-tweetar{
    font-weight: 700;
}

.meu-perfil{
    background-color: black;
    border: none;
    color: #d9d9d9;
    margin: 280px 5px 5px 30px;
    border-radius: 30px;
}

.avatar, .seta{
    display: inline;
}

.avatar img{
    border-radius: 100%;
    width: 45px;
}

.texto-perfil{
    display: inline-block;
    vertical-align: top;
    margin: 2px 20px 0px 10px;
    text-align: justify;
}

.texto-perfil span{
    display: block;
    font-size: 15px;
    font-weight: 100;
    color: #AAA;
}

.texto-perfil span:first-child{
    font-size: 16px;
    color: #d9d9d9;
    font-weight: bold;
}

.arrow{
    width: 15px;
    vertical-align: top;
    margin: 18px;
}

.meu-perfil:hover{
    background-color: #031019;
}

/*==================MAIN====================================================================================================================================*/
.pag-inicial{
    border: 1px solid #2f3336;
    border-top: none;
    position: fixed;
    color: #d9d9d9;
    right: 35vw;
    left: 30vw;
    margin-right: auto;
    margin-left: auto;
    height: 55px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.pag-init{
    color: #d9d9d9;
    font-weight: 1000;
    font-size: 20px;
    padding: 15px;
}

.div-star{
    display: inline-block;
    width: 25px;
    margin: 12px;
    right: 0;
    border-radius: 100%;
}

.star{
    width: 100%;
}

#main{   
    border: 1px solid #2f3336;
    border-top: none;
    color: white;
    grid-column-start: 2;
    margin-top: 55px;
}

/*==================LATERAL====================================================================================================================================*/
#barra-lateral{
    color: white;
    right: 0;
    top: 0;
    position: fixed;
    width: 35vw;
    height: 100%;
}

.left-bar{
    margin: 5px 0px 0px 30px;
}

.input-icons{
    border: 1px solid #202327;
    background-color: #202327;
    width: 340px;
    height: 40px;
    border-radius: 40px;
    display: flex;
}

#buscar{
    color: white;
    font-size: 16px;
    background-color: #202327;
    border: none;
    width: 250px;
}

.lupa{
    margin: auto 10px auto 15px;
    width: 23px;
}

.input-icons:hover{   
    border: 1px solid #1da0f2;
}

#buscar::-webkit-input-placeholder{
    color: #777777;
}

.assuntos-e-seguir{
    color: #d9d9d9;
    background-color: #15181c;
    margin: 10px 0px;
    width: 340px;
    border-radius: 20px;
}

.titulo-assuntos-seguir{
    display: flex;
    border-bottom: 1px solid #2f3336;
    justify-content: space-between;
}

.div-icon-circle{
    margin: auto 15px;
    border-radius: 100%;
    width: 35px;
    padding: 7px;
}

.div-icon-circle:hover{
    background-color: #1c2c38;
}

.assunto-momento{
    display: flex;
    justify-content: space-between;
    padding: 1px 15px;
    border-bottom: 1px solid #2f3336;
}

.assunto-momento:hover{
    background-color: #202327;
}

.conteudo-assunto{
    margin: 10px 0;
}

.titulo-article-assunto{
    color: #777777;
    font-size: 13px;
}

.nome-article-assunto{
    font-size: 16px;
    margin: 5px 0px;
    font-weight: bold;
}

.quantidade-tweets{
    color: #777777;
    font-size: 16px;
}

.assunto-arrow{
    border-radius: 100%;
    width: 30px;
    max-width: 30px;
    padding: 9px;
}

.image-circle{
    width: 100%;
}

.rodape-assuntos-seguir{
    padding: 16px 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pessoas-seguir{
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 1fr;
    padding: 8px 0px;
    border-bottom: 1px solid #2f3336;
}

.pessoas-seguir:hover{
    background-color: #202327;
}

.foto-seguir{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.foto-seguir >img{
    border-radius: 100%;
    width: 47px;
}

.texto-seguir{ 
    padding-top: 6px;
    line-height: 18px;
}

.texto-seguir > p{
    font-weight: bold;
    font-size: 16px;
}

.texto-seguir > .pessoa-arroba{
    font-weight: normal;
    font-size: 15px;
    color: #777777;
}

.seguir-button{
    color: #1da0f2;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    margin: 8px 0;
    border-radius: 30px;
    padding: 3px 12px;
    border: 1px solid #1da0f2;
    padding-bottom: 5px;
}

.seguir-button:hover{
    background-color: #1c2c38;
}

.rodape-assuntos-seguir:hover{
    background-color: #202327;
}

.mais-assuntos{
    color: #1da0f2;
}

.texto-rodape-copyright{
    color: #777777;
    font-size: 13px;
    padding: 3px 15px;
}

.texto-rodape-copyright > a{
    margin: 0px 3px;
}
